h1, h2, h3 {
  text-align: center;
}
p{
  font-size: 16px;
  text-align: justify;
  padding: 10px;

}
.titulo{
width: 400px;
height: 15px;
background: gold;
border: solid black;
padding: 25px  80px 40px;
text-align: center;
}
.block{
width: 150px;
height: 450px;
border: black solid;
float: left;
}

.block2{
width: 200px;
height: 450px;
border: black solid;
float: left;
}

.block3{
width: 200px;
height: 450px;
border: black solid;
float:left;
text-align: center;
}
